SleepAP/DerivedData/
SleepAP/Pods/Pods.xcodeproj/xcuserdata/xiayisun.xcuserdatad/
SleepAP/SleepAP.xcodeproj/project.xcworkspace/xcuserdata/xiayisun.xcuserdatad/
SleepAP/SleepAP.xcodeproj/xcuserdata/xiayisun.xcuserdatad/
SleepAP/SleepAP.xcworkspace/xcuserdata/xiayisun.xcuserdatad/
SleepAP/SleepAP/.DS_Store
SleepAP/SleepAP/Assets.xcassets/.DS_Store
SleepAP/SleepAP/Resources/stop.png